[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100
ij_kotlin_imports_layout = *, android.*, androidx.*, com.*, java.*, javax.*, kotlin.*, kotlinx.*, $*

[{*.kt, *.kts}]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[*.md]
indent_style = tab

# Matches the exact files either package.json or .travis.yml
[{*.json, *.yml, *.xml, *.gradle, *.toml}]
indent_style = space
indent_size = 2
